@font-face {
    font-family: 'Hudson';
    src: url("fonts/HudsonNYPro-Bold.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'Arista-Pro-Thin';
    src: url("fonts/Arista-Pro-Thin-webfont.woff2") format("woff2"),
         url("fonts/Arista-Pro-Thin-webfont.woff") format("woff");
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --text-color: #f7f7f7;
    --outline-color: #f7f7f7;
    --light-text-color: #d3d3d3;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.152); 
    z-index: -1;
}

.page-overlay {
    position:relative;
}

.page-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43); 
    z-index: -1;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.page-header h1 {
    margin: 0;
}

header {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0; 
    margin: 0; 
    padding: 1.5rem; 
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--light-text-color);
    font-family: 'Satoshi', sans-serif;
    font-size: 1.25rem;
    line-height: 0.5rem;
    letter-spacing: 0.20rem;
    font-weight: 100;
    transition: color 0.3s, border-bottom 0.3s;
}

a.active {
    color: var(--text-color);
    padding-bottom: 0.05rem;
}

a:hover {
    color: var(--text-color);
    border-bottom: 0.1rem solid var(--outline-color);
    padding-bottom: 0.05rem;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
}

li {
    display: inline;
}

h1 {
    font-family: "Hudson";
    font-size: 6rem;
    color: var(--text-color);
    margin: 0;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: var(--text-color);
    margin: 0;
}

h2 {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    margin: 0.5rem 0 0;
    font-weight: 100;
    color: var(--light-text-color);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    height: 70vh; 
    margin: 0;
    box-sizing: border-box; 
}

@media (max-width: 52.5rem) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
    
    a {
        font-size: 1.5rem;
    }
    
    ul {
        gap: 2rem;
    }
    
    .main-content {
        padding-top: 5rem; 
    }
}

@media (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; 
    }
    
}

@media (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 1.25rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    a {
        font-size: 1.25rem;
    }
    
    ul {
        gap: 1.5rem;
    }
    
    .main-content {
        padding-top: 4rem; 
        height: 80vh; 
    }
    
    body {
        background-size: cover;
        background-position: center top; 
        background-attachment: scroll; 
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 2.5rem; 
    }
    
    h2 {
        font-size: 1rem;
    }
    
    body {
        background-size: cover; 
        background-position: center center;
        min-height: 100vh;
    }
    
    .main-content {
        height: 85vh; 
        padding-top: 3rem;
    }
}